/*  ------------- HEADER -------------  */
header{
    position: relative;
    ul.social{
        position: absolute;
        bottom: 0.5rem;
        right: $gutter;
    }

    ul.social li{
        width: auto;
    }



}//end of header

/*  ------------- MAIN -------------  */

main{
    
    div.lead { grid-row: 1/span 2; grid-column: 1;}
    div.secondTop { grid-row: 1; grid-column: 2 ; align-self:start;}
	div.secondBot { grid-row: 2; grid-column: 2 ; align-self:end;}

}//end of main

