/*  ------------- HEADER -------------  */
header{
    position: relative;
    ul.social{
        position: absolute;
        bottom: 0.5rem;
        right: $gutter;
    }

    ul.social li{
        width: auto;
    }



}//end of header

/*  ------------- MAIN -------------  */

main{

    .container1 div{
        flex-direction: column;
        padding: .5rem $gutter;
    }

    .container2 figure{
		flex-basis: 33.333%;
		padding: .5rem $gutter;
	}

	.container2 figure img{
		width: 100%;
	}

}//end of main

